@model LoginModel
@{
    ViewData["Title"] = "Home";
}

<body>
    <main role="main">
        <section class="summary">
            <div>
                <span class="descripition">Quantidade conquistas:</span>
                <span class="number">@ViewData["TotalConquistasHabilitadas"]</span>
            </div>
            <span class="separate"></span>
            <article>
                <span class="descripition">Quantidade acertos:</span>
                <span class="number">@ViewData["TotalAcertos"]</span>
            </article>
            <span class="separate"></span>
            <article>
                <span class="descripition">Quantidade Exp:</span>
                <span class="number">@ViewData["TotalExp"]</span>
            </article>
        </section>

        <div class="charts">
            <article class="chart divgames">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <mask id="mask0_8_337" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                        <rect width="48" height="48" fill="#48D34E" />
                    </mask>
                    <g mask="url(#mask0_8_337)">
                        <path d="M9.10003 38C7.40003 38 6.08336 37.4083 5.15003 36.225C4.2167 35.0417 3.8667 33.6 4.10003 31.9L6.20003 16.9C6.50003 14.9 7.3917 13.25 8.87503 11.95C10.3584 10.65 12.1 10 14.1 10H33.9C35.9 10 37.6417 10.65 39.125 11.95C40.6084 13.25 41.5 14.9 41.8 16.9L43.9 31.9C44.1334 33.6 43.7834 35.0417 42.85 36.225C41.9167 37.4083 40.6 38 38.9 38C38.2 38 37.55 37.875 36.95 37.625C36.35 37.375 35.8 37 35.3 36.5L30.8 32H17.2L12.7 36.5C12.2 37 11.65 37.375 11.05 37.625C10.45 37.875 9.80003 38 9.10003 38ZM9.90003 33.7L15.6 28H32.4L38.1 33.7C38.1667 33.7667 38.4334 33.8667 38.9 34C39.2667 34 39.5584 33.8917 39.775 33.675C39.9917 33.4583 40.0667 33.1667 40 32.8L37.8 17.4C37.6667 16.4333 37.2334 15.625 36.5 14.975C35.7667 14.325 34.9 14 33.9 14H14.1C13.1 14 12.2334 14.325 11.5 14.975C10.7667 15.625 10.3334 16.4333 10.2 17.4L8.00003 32.8C7.93336 33.1667 8.00836 33.4583 8.22503 33.675C8.4417 33.8917 8.73336 34 9.10003 34C9.1667 34 9.43336 33.9 9.90003 33.7ZM34 26C34.5667 26 35.0417 25.8083 35.425 25.425C35.8084 25.0417 36 24.5667 36 24C36 23.4333 35.8084 22.9583 35.425 22.575C35.0417 22.1917 34.5667 22 34 22C33.4334 22 32.9584 22.1917 32.575 22.575C32.1917 22.9583 32 23.4333 32 24C32 24.5667 32.1917 25.0417 32.575 25.425C32.9584 25.8083 33.4334 26 34 26ZM30 20C30.5667 20 31.0417 19.8083 31.425 19.425C31.8084 19.0417 32 18.5667 32 18C32 17.4333 31.8084 16.9583 31.425 16.575C31.0417 16.1917 30.5667 16 30 16C29.4334 16 28.9584 16.1917 28.575 16.575C28.1917 16.9583 28 17.4333 28 18C28 18.5667 28.1917 19.0417 28.575 19.425C28.9584 19.8083 29.4334 20 30 20ZM15.5 26H18.5V22.5H22V19.5H18.5V16H15.5V19.5H12V22.5H15.5V26Z" fill="#48D34E" />
                    </g>
                </svg>
                <li class="games"><a asp-area="" asp-controller="Games" asp-action="Index">Quiz</a></li>
            </article>

            <article class="chart divgames">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <mask id="mask0_8_393" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                        <rect width="48" height="48" fill="#48D34E" />
                    </mask>
                    <g mask="url(#mask0_8_393)">
                        <path d="M14 42V38H22V31.8C20.3667 31.4333 18.9083 30.7417 17.625 29.725C16.3417 28.7083 15.4 27.4333 14.8 25.9C12.3 25.6 10.2083 24.5083 8.525 22.625C6.84167 20.7417 6 18.5333 6 16V14C6 12.9 6.39167 11.9583 7.175 11.175C7.95833 10.3917 8.9 10 10 10H14V6H34V10H38C39.1 10 40.0417 10.3917 40.825 11.175C41.6083 11.9583 42 12.9 42 14V16C42 18.5333 41.1583 20.7417 39.475 22.625C37.7917 24.5083 35.7 25.6 33.2 25.9C32.6 27.4333 31.6583 28.7083 30.375 29.725C29.0917 30.7417 27.6333 31.4333 26 31.8V38H34V42H14ZM14 21.6V14H10V16C10 17.2667 10.3667 18.4083 11.1 19.425C11.8333 20.4417 12.8 21.1667 14 21.6ZM24 28C25.6667 28 27.0833 27.4167 28.25 26.25C29.4167 25.0833 30 23.6667 30 22V10H18V22C18 23.6667 18.5833 25.0833 19.75 26.25C20.9167 27.4167 22.3333 28 24 28ZM34 21.6C35.2 21.1667 36.1667 20.4417 36.9 19.425C37.6333 18.4083 38 17.2667 38 16V14H34V21.6Z" fill="#48D34E" />
                    </g>
                </svg>
                <li class="games"><a asp-area="" asp-controller="Conquistas" asp-action="Conquistas">Conquistas</a></li>
            </article>
        </div>
    </main>
</body>